.progress-bar-container {
    width: 100%;
    background-color: #e0e0de;
    border-radius: 50px;
    height: 20px;
    margin: 10px 0;
}

.progress-bar-filler {
    height: 100%;
    background: linear-gradient(90deg, #4F46E5, #7C3AED);
    border-radius: inherit;
    text-align: right;
    transition: width 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar-label {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 5px;
}   